<div class="download-container">
	<LeftMenu @model={{@model}}></LeftMenu>
	<div class="download-right-part">
		<div id="loading-spinner-medium">
			<div class="ldio-dxsbijs509">
				<div></div>
			</div>
		</div>
		<ProjectList @model={{@model}}></ProjectList>
	</div>
</div>
