<div class="content">
    <h1>Web components inside Ember</h1>
    <div class="ember">
        <h2>Ember context</h2>
        <div class="react">
            <h2>React context</h2>
            <react-example-components
                {{did-insert this.registerListener}}
                {{will-destroy this.unregisterListener}} >
            </react-example-components>
            <example-web-component componenttitle="alfred"
                {{did-insert this.registerListener}}
                {{will-destroy this.unregisterListener}} >
            </example-web-component>
        </div>
    </div>
</div>
