<div class="download-container">
	<pharbers-menu></pharbers-menu>
	<div class="download-right-part">
		<div id="loading-spinner-medium">
			<div class="ldio-dxsbijs509">
				<div></div>
			</div>
		</div>
		{{outlet}}
	</div>
</div>
