<style>
    .echarts-chart {
        width: 100%;
        height: 500px;
    }
</style>
<h2 attr={{needRefresh}}></h2>
{{echarts-chart
	option=option
	onEvents=onEvents
	onChartReady=(action onChartReady)
	beforeSetup=(action beforeSetup)
	afterSetup=(action afterSetup)
}}
