* {
	box-sizing: border-box;
}

body {
	height: 100%;
	margin: 0;
	min-width: 1200px;
	width: 100%;
}

p {
	margin: 0;
}
.download-container {
	display: flex;
	background-color: #fff;
    height: fit-content;
    position: relative;
}
.download-right-part {
	width: 100%;
}